@model LetPrikaziVM
@{
    ViewData["title"] = "Prikazi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<h2 style="text-align: center; font-style:italic;">Letovi</h2>
<br />
<br />


<table id="table_id" class="row-border" style="width:100%">
    <thead>
        <tr>
            <th>Grad </th>
            <th>Klasa </th>
            <th>Cijena</th>
            <th>Vrijeme polaska</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.letovi)
        {

            <tr>
                <td>@x.grad</td>
                <td>@x.klasa</td>
                <td>@x.VrijemePolaska</td>
                <td>@x.Cijena</td>

                <td style="width:30%">
                    <span id="confirmDeleteSpan_@x.letid" style="display:none">
                        <span>Da li ste sigurni da želite obrisati? </span>
                        <a asp-action="Obrisi" asp-route-id="@x.letid" class="btn btn-danger">DA</a>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@x.letid', false)">NE</a>
                    </span>

                    <span id="deleteSpan_@x.letid">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@x.letid', true)"><i class="fas fa-trash-alt"></i> Obriši</a>
                    </span>

                    <a class="btn btn-primary" asp-action="Uredi" asp-route-id="@x.letid"><i class="fas fa-edit"></i>  Uredi</a>


                </td>
            </tr>
        }
    </tbody>
</table>
<head>
   
    <link rel="stylesheet" href="~/css/dataTable.css">
    <script src="~/js/dataTable.js"></script>
</head>

<br />
<br />
<a style="text-align:center;" class="btn btn-outline-info" href="/Home/Index"><i class="fas fa-home"></i>  Početna</a>
<a class="btn btn-outline-primary" asp-action="Dodaj"><i class="fas fa-plus-circle"></i>  Dodaj novi let</a>




