@model AvionPrikaziVM
@{
    ViewData["Title"] = "Prikazi";
}

<br />
<h2 style="text-align: center; font-style:italic;">Prikaz aviona</h2>
<br />
<br />
<table id="table_id" class="row-border " style="width:100%; text-align:center;">
    <thead>

        <tr>
            <th>Naziv</th>
            <th>Klasa</th>
            <th>Kapacitet</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var x in Model.avioni)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.Klasa</td>
                <td>@x.kapacitet</td>

                <td>
                    <span id="@x.AvionID">
                        <a class="btn btn-outline-danger"
                           asp-action="Obrisi" asp-route-id="@x.AvionID"> <i class="far fa-trash-alt"></i> Obriši</a>
                    </span>


                    <a class="btn btn-outline-primary" asp-action="Uredi" asp-route-id="@x.AvionID"><i class="fas fa-edit"></i>  Uredi</a>

                </td>
            </tr>
        }

    </tbody>



</table>
<br />
<br />
<a class="btn btn-outline-primary" asp-action="Dodaj"> Dodaj novi avion</a>
<br />
<br />
<a class="btn btn-outline-danger" href="/Home/Index">Nazad</a>
<head>
    <script src="~/js/delete.js"></script>
    <script src="~/js/dataTable.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/dataTable.css" rel="stylesheet" />
</head>

